@charset "UTF-8";

/*!
 * style.css for chrisreilly.design
 */

 body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

h1, h2, h4 {font-family: 'Noticia Text', serif;color:#0091e1;}
h1 {font-size: 26px;}
h2 {font-size: 28px;}
h3 {font-size: 22px;}
h4 {font-size: 18px;}
@media (min-width: 34em) {
h1 {font-size: 2.5rem;}
h2 {font-size: 36px;}
h3 {font-size: 24px;}
h4 {font-size: 20px;}
}

p {color:#888888;line-height:2rem;}

.btn {transition: all .3s ease;border-radius:0;}
.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {outline:none;}
.btn-primary {background-color: #fd5c48;border-color: #fd5c48;}
.btn-primary:hover {
    color: #fff;
    background-color: #fd461c;
    border-color: #fd461c;
}
.btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .btn-primary:active:hover, .btn-primary:active:focus {background-color: #fd461c;border-color: #fd461c;}
.btn-default {
    background: transparent;
    border: 1px solid;
    color: #666;
}
.btn-default:hover, .btn-default:active {color: #fd461c;border-color: #fd461c;}
.text-white {color:#ffffff;}
.text-ltgray {color:#efefef;}
#intro {
    width: 100%;
    height: 100vh;
    background-color: #fd5c48;
    color:#ffffff;
}
#intro h1 {color:#ffffff;}
#intro h4, #intro h3 {color:#ffc2bd;}
#work, #about, #skills, #contact {padding:50px 0 100px;}

#work, #about {background-color: #efefef;}

#contact {background-color: #fd5c48;}

#intro .container-fluid, #intro .row {height:100%;}

/* typed heading settings */

#typed-strings {display:none;}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

#intro .worklnk a {color:#ffffff;text-decoration: none;}
#intro .worklnk p {color:#ffffff;margin-top:20%;}

.card-text {line-height: 1.25rem;font-size: .9rem;}
.card-img-top {
    border-radius: 0;
}
.card1 {
  -webkit-animation-delay: 0s;
  -webkit-animation-duration:.5s;
}
.card2 {
  -webkit-animation-delay: .2s;
    -webkit-animation-duration:.5s;
}
.card3 {
  -webkit-animation-delay: .4s;
    -webkit-animation-duration:.5s;
}
.card4 {
  -webkit-animation-delay: .6s;
  -webkit-animation-duration:.5s;
}
.card5 {
  -webkit-animation-delay: .8s;
    -webkit-animation-duration:.5s;
}
.card6 {
  -webkit-animation-delay: 1s;
    -webkit-animation-duration:.5s;
}
.card7 {
  -webkit-animation-delay: 1.2s;
    -webkit-animation-duration:.5s;
}
#skills div.col-sm-4 {transition:all .5s ease;}
#skills div.col-sm-4:hover {background: #fafafa;}
#skills i.fa {
    color: #fd5c48;
    font-size: 2em;
    padding: 20px;
}
#skills p {text-align: left;}

#contact i.fa {color:#ffc2bd;font-size: 1.5em;padding:20px;transition:all .5s ease;}
#contact i.fa:hover {color: #efefef;}

.headshot {
    border: 5px solid #fafafa;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: all .5s ease;
    display: inline-block;
    margin: 10% auto;
}
.headshot:hover {filter:grayscale(0%);-webkit-filter:grayscale(0%);}

/* style modal */

body.modal-open .container{
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}
.modal-backdrop.in {
    opacity: .9;
}
.modal-backdrop {
    background-color: #012141;
}
.modal-content {background: none;border: none;}
.modal-body {padding:0;}
button.close {margin-top: -2px;color: #efefef;opacity: 1;text-shadow: none;font-weight: 100;font-size: 2rem;outline:none;}
.modal-header, .modal-footer {border:0;padding:15px 0;}
@media (min-width: 34em) {
.modal-dialog {margin:0 auto 30px;}
}
@media (min-width: 48em) {
.modal-lg {
    width: 75%;
    max-width: 1200px;
}
}